# This file is for development and running tests.
#
# The plugin itself will run inside Krita's embedded Python, and only has access
# to the Python standard library and Qt5.

# Development
ruff
pyright
debugpy
requests
uv

# Testing
aiohttp
truststore
python-dotenv
markdown
numpy
pytest
pytest-asyncio
tqdm
PyQt5
Pillow

# Service
ndjson
ujson
boto3