torch==2.8.0
torchvision==0.23.0
torchaudio==2.8.0

aiohttp 
tqdm
onnxruntime
transformers
# huggingface-hub pinned because transformers requires it
huggingface-hub<1.0
# for mediapipe:
protobuf>=4.25.3,<5
numpy<2
opencv-python==4.11.0.86
# Version fixed because argostranslate requires it:
sentencepiece==0.2.0
# For argostranslate -> spaCy (to download models):
pip
# Version pinned because newer version requires pycairo, which does not provide binary
# packages on Linux/macOS
svglib==1.5.1